.LayerControl {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 3;
  width: 300px;
  flex: 1 1;
  background: linear-gradient(to left, black, rgba(0, 0, 0, 0.5));
  border-radius: 4px;
  padding: 0.25em;

  #info {
    font-size: 14px;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-top: -0.5em;

    #me {
      text-align: right;
    }

    a {
      color: white;
    }
  }

  .label {
    margin-left: 0.25em;
    font-weight: bold;
  }

  .normalization {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    div {
      flex-grow: 1;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      margin: 0.25em;
      padding: 0.25em;
      cursor: pointer;

      &:hover {
        background-color: rgba(120, 90, 150, 0.6);
        color: white;
      }
    }

    .active {
      background-color: rgba(255, 255, 255, 0.7);
      color: black;
      font-weight: bold;
    }
  }
}
