.ComparisonZips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow: scroll;
  max-height: calc(100vh - 2em - 369px);
  border-radius: 2px;
}

.value {
  text-align: center;
  &.black {
    color: black;
  }
}
